<div class="col-md-10 offset-md-4">
  <h1>商品詳細</h1>
</div>

<div class="col-md-8 offset-md-5">
  <%= image_tag @item.get_image(200,200) %>
</div>

<table class="col-md-3 offset-md-4">

  <tr>
    <td>商品名</td>
    <td><%= @item.name %></td>
  </tr>

  <tr>
    <td>商品説明</td>
    <td><%= @item.introduction %></td>
  </tr>

  <tr>
    <td>ジャンル</td>
    <td><%= Genre.find(@item.genre_id).name %></td>
  </tr>

  <tr>
    <td>税込価格<br>(税抜価格)</td>
    <td><%= @including_tax_price %>（<%= @price %>）円</td>
  </tr>

  <tr>
    <td>販売ステータス</td>
    <% if @item.is_active == true %>
      <td>販売中</td>
    <% else %>
      <td>販売停止中</td>
    <% end %>
  </tr>

</table>

<div class="col-md-3 offset-md-7">
 <%= link_to "編集する", edit_admin_item_path(@item.id), method: :get, class: 'btn btn-sm btn-success' %>
</div>

