<div class="col-md-8 offset-md-4">
  <p>
    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </p>
</div>

<div class="col-md-10 offset-md-2">
  <h1>新着商品</h1>

  <table>
    <% @items.each do |item| %>
      <td>
        <div>
          <%= image_tag item.get_image(300,225) %>
        </div>
        <div>
          <% if customer_signed_in? %>
            <%= link_to public_item_path(item.id) do %>
              <%= item.name %>
            <% end %>
          <% end %>
        </div>
        <div>
          ¥<%= item.price %>
        </div>
      </td>
    <% end %>
  </table>
</div>

<%= link_to "全ての商品を見る>", public_items_path, method: :get, class: 'col-md-3 offset-md-9' %>
