<% if @genre.errors.any? %>
  <div id="error_explanation">
    <h3>保存時に<%= @genre.errors.count %>件のエラーが発生しました:</h3>
    <ul>
      <% @genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>ジャンル編集</h1>

  <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :put do |f| %>

    <table class="col-md-3 offset-md-3">
      <tr>
        <td>
          <%= f.label :ジャンル名 %>
        </td>
        <td>
          <%= f.text_field :name, class: "form-control", required: true %>
        </td>
        <td>
          <%= f.submit "変更を保存", class: "btn btn-success" %>
        </td>
      </tr>
    </table>
  <% end %>